<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Oilling Project</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/button.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
    <link href="/stylesheets/jquery.contextmenu.css" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="/javascripts/canvas2image.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/jquery-ui.js"></script>
    <script src="/javascripts/jquery.contextmenu.js"></script>
    <script src="/javascripts/jquery.avgrund.js"></script>
    <style type="text/css">
        body {
            margin: 0px;
            padding: 0px;
            position:absolute; top:0; bottom:0; right:0; left:0;
            /*background-image: url("/images/MainPage.png"); background-size:100% 100%;*/
            background-color:black;
        }
        a{
            text-decoration:none;
            color:white;
        }
        #topMenu {
            display: table-cell;
            vertical-align:middle;
            height: 30px;  /* 메인 메뉴의 높이 */
            width: 30px;  /* 메인 메뉴의 넓이 */
        }
        #fixed-menu {
            width: 100%;
            background-color: rgba(48,48,42,1);
            position: fixed;
            top: 0px;
            left: 0px;
            display:table-row;
        }
        #op_logo {
            display:table-cell;
        }
        #logo {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left:70px;
        }
        #left-info {
            display: table-cell;
            vertical-align:middle;
        }
        #identity {
            display: table-cell;
            vertical-align: middle;
        }

        .etc {
            display: table-cell;
            cursor: pointer;
            vertical-align: middle;
            padding-right: 20px;
            color: white;
        }
        .sub:hover {
            color:rgba(0,159,155,1);
        }

        #main-content {
            width: 100%;
        }
        #main {
            width: 100%;
            margin-top:60px;
            height:400px;
        }

        html {
            height: 100%;
        }

        .n_list {
            /*transform-style:preserve-3d;*/
            display: table-row, block;
            vertical-align:middle;
            margin-bottom:30px;
            text-align:center;
            margin-left:auto;
            margin-right:auto;
        }
        .n_plat {
            width: 20%;
            padding-left:10px;
            display: table-cell;
            vertical-align: middle;
            transition-duration: 0.5s;
            backface-visibility: hidden;
            -webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
            /*transform-style: preserve-3d;*/
        }
        .n_plat:hover {
            transform: scale(1.2,1.2) translateZ(50px);
            cursor:pointer;
        }
        .n_plat img {
            max-width:100%;
        }/*
        .n_plat img:hover {
            outline: 3px solid rgba(0,159,155,1);
        }*/
        label, input { display:block; }
        input.text { margin-bottom:12px; width:95%; padding: .4em; }
        fieldset { padding:0; border:0; margin-top:25px; }
        h1 { font-size: 1.2em; margin: .6em 0; }
        .ui-dialog .ui-state-error { padding: .3em; }
        .validateTips { border: 1px solid transparent; padding: 0.3em; }
    </style>
</head>
<body>
<div id="fixed-menu">
    <div id="op_logo"><img style="cursor:pointer;" id="logo" src="/images/OPlogo.png" width="80" height="40"/></div>

    <div id="up_menu" style="display:table-cell; vertical-align:middle; padding-right:10px; padding-left:80px;"><img src="/images/6.png" width="40" height="40"/></div>
    <div style="display: table-cell; vertical-align:middle; padding-right:10px; color:white;"><%=s_name%></div>
    <div style="display: table-cell; vertical-align:middle; padding-right:10px; color:white;"><%=s_email%></div>
    <div style="display: table-cell; vertical-align:middle; padding-right:10px; color:white;"><img id="alarmbtn" src="/images/ORB_BLACK.png" style="cursor:pointer;" height="20" width="20"></div>
    <div style="display: table-cell; vertical-align:middle; padding-right:10px; color:white;"><button class="button white  medium" onClick="logout()">Logout</button></div>
    </div>
<div id="main-content">
    <img id="main" src="/images/roompage.png"/></div>
<div style="display:block; margin-left:10%; margin-right:10%; margin-top:20px;">
    <div class="n_list">
        <div id="room0" class="n_plat" style="visibility:hidden;"><img id="img0" class="img-rounded" src="/images/7.png" width="200" height="170" /><br><p style="color:white; font-size:20px;" id="p0">a</p><img src="/images/plusproject.png" id="crtbtn0" style="width:135px; height:135px;"></div>
        <div id="room1" class="n_plat" style="visibility:hidden;"><img id="img1" class="img-rounded" src="/images/7.png" width="200" height="170"/><br><p style="color:white; font-size:20px;" id="p1">b</p><img src="/images/plusproject.png" id="crtbtn1" style="width:135px; height:135px;"></div>
        <div id="room2" class="n_plat" style="visibility:hidden;"><img id="img2" class="img-rounded" src="/images/7.png" width="200" height="170"/><br><p style="color:white; font-size:20px;" id="p2">c</p><img src="/images/plusproject.png" id="crtbtn2" style="width:135px; height:135px;"></div>
        <div id="room3" class="n_plat" style="visibility:hidden;"><img id="img3" class="img-rounded" src="/images/7.png" width="200" height="170" /><br><p style="color:white; font-size:20px;" id="p3"></p><img src="/images/plusproject.png" id="crtbtn3" style="width:135px; height:135px;"></div>
        <div id="room4" class="n_plat" style="visibility:hidden;"><img id="img4" class="img-rounded" src="/images/7.png" width="200" height="170" /><br><p style="color:white; font-size:20px;" id="p4"></p><img src="/images/plusproject.png" id="crtbtn4" style="width:135px; height:135px;"></div>
    </div>
</div>
<div id="dialog-form" title="새로운 프로젝트" style="background-color:ivory" >
    <p class="validateTips">모든 항목은 필수사항입니다.</p>

    <form>
        <fieldset>
            <label for="name">프로젝트 명</label>
            <input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all">
            <label for="num">최대인원</label>
            <input type="text" name="num" id="num" value="" class="text ui-widget-content ui-corner-all">

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>
<div id="dialog-confirm" title="새로운 초대 알림">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>새로운 초대가 있습니다!</p>
    <table id="alarm-context" class="ui-widget ui-widget-content">
        <tbody>

        </tbody>
    </table>
</div>
</body>
<script>
    var dialog, form, cdialog;
    $(function() {

        var ilength = '<%=v_alarmn%>';
        var tuname = '<%=v_names%>';
        var uname = tuname.split(',');
        var rtitle = '<%=v_rtitle%>'.split(',');
        var iroom = '<%=v_iroom%>'.split(',');

        var menu =[
            {'삭제': menuListener }
        ];

        for (var ti=0;ti<'<%=v_totalroom%>';ti++) {
            $('#room' + ti).contextMenu(menu, {
                theme: 'vista'
            });
        }
        function menuListener(menuItem,menu) {
            $(this).toggleClass("context-menu-item-disabled");
            var modal = confirm("정말 삭제하시겠습니까?");
            if (modal==true){
                var t = ($(this).attr('id')).slice(-1);

                var params = 'ri='+roomsi[t];
                var xhr = new XMLHttpRequest();
                 xhr.open('post', '/main/api/delete', false);
                 xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                 xhr.overrideMimeType('application/json');
                 xhr.send(params);
                 if (xhr.status==200){
                     console.log('탈퇴');
                     log_go(roomsi[t],'프로젝트에서 탈퇴하였습니다.');
                 }
                 window.location.href='/main';
            }
        }

        if (ilength>0){
            var t=document.getElementById('alarmbtn');
            var td = document.getElementById('alarm-context');
            t.src = 'images/ORB_RED.png';
            t.addEventListener('click',function(e){
                cdialog.dialog('open');
            });

            for (var i = 0;i<ilength;i++){
                $('#alarm-context tbody').append('<tr>'+
                        '<td>'+ uname[i] + '님이 ' + rtitle[i] + '프로젝트에 초대하셨습니다' + '</td>' +
                        '<td><input type="button" value="수락" id="abtn'+ i + '"></td>' +
                        '<td><input type="button" value="거절" id="cbtn'+ i + '"></td>' +
                        '</tr><tr></tr>');
                $('#abtn'+i).bind('click',function(e){
                    var t = parseInt(e.target.id.slice(-1));
                    //post_goto('/main/api/accept',{'ri':iroom[t],'rt':rtitle[t]},false);
                    console.log(t);
                    var params = 'ri='+iroom[t]+'&rt='+rtitle[t];
                    var xhr = new XMLHttpRequest();
                    xhr.open('post', '/main/api/accept', false);
                    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhr.overrideMimeType('application/json');
                    xhr.send(params);
                    if (xhr.status==400){
                        alert('해당 프로젝트가 최대인원에 도달했습니다!');
                    }
                    log_go(iroom[t],'프로젝트에 참여하였습니다.');
                    window.location.href='/main';
                });
                $('#cbtn'+i).bind('click',function(e){
                    var t = parseInt(e.target.id.slice(-1));
                    var params = 'ri='+iroom[t];
                    var xhr = new XMLHttpRequest();
                    xhr.open('post', '/main/api/cancel', false);
                    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhr.overrideMimeType('application/json');
                    xhr.send(params);
                    window.location.reload();
                });
            }
        }

        var name = $( "#name" ),
                num = $( "#num" ),
                allFields = $( [] ).add( name ).add( num ),
                tips = $( ".validateTips" );

        function updateTips( t ) {
            tips
                    .text( t )
                    .addClass( "ui-state-highlight" );
            setTimeout(function() {
                tips.removeClass( "ui-state-highlight", 1500 );
            }, 500 );
        }

        function checkLength( o, n, min, max ) {
            if ( o.val().length > max || o.val().length < min ) {
                o.addClass( "ui-state-error" );
                updateTips( n + " 의 길이는 " +
                min + " 에서 " + max + "사이여야 합니다." );
                return false;
            } else {
                return true;
            }
        }

        function checkRegexp( o, regexp, n ) {
            if ( !( regexp.test( o.val() ) ) ) {
                o.addClass( "ui-state-error" );
                updateTips( n );
                return false;
            } else {
                return true;
            }
        }

        function checkValue(o,n,min,max){
            if ( o.val() > max || o.val() < min ) {
                o.addClass( "ui-state-error" );
                updateTips( n + "의 숫자는 " +
                min + " 에서 " + max + "사이여야 합니다." );
                return false;
            } else {
                return true;
            }
        }

        function addUser() {
            var valid = true;
            allFields.removeClass( "ui-state-error" );

            valid = valid && checkLength( name, "프로젝트 이름", 3, 16 );
            valid = valid && checkValue(  num , "최대 인원", 1, 5 );

            valid = valid && checkRegexp( name, /^[0-9a-zA-Z가-힣\s]*$/, "특수문자나 자모음은 입력할 수 없습니다." );
            valid = valid && checkRegexp( num, /\d/i, "최대인원은 숫자만 입력가능합니다." );

            if ( valid ) {
                post_goto('/main/api/create/',{'pt':name.val(),'pn':num.val()},false);
                dialog.dialog( "close" );
            }
            return valid;
        }

        dialog = $( "#dialog-form" ).dialog({
            autoOpen: false,
            height: 400,
            width: 350,
            resizable: false,
            modal: true,
            buttons: {
                "Create": addUser,
                Cancel: function() {
                    dialog.dialog( "close" );
                }
            },
            close: function() {
                form[ 0 ].reset();
                allFields.removeClass( "ui-state-error" );
            }
        });
        cdialog = $( "#dialog-confirm" ).dialog({
            autoOpen: false,
            resizable: false,
            height:400,
            width:400,
            modal: true,
            buttons: {
                Cancel: function() {
                    $( this ).dialog( "close" );
                }
            }
        });

        form = dialog.find( "form" ).on( "submit", function( event ) {
            event.preventDefault();
            addUser();
        });
    });
    var i = '<%=v_totalroom%>';
    var trooms = '<%=v_rooms%>';
    var troomsi = '<%=v_roomsi%>';
    var rooms = trooms.split(',');
    var roomsi = troomsi.split(',');

    for (var ti = 0 ; ti < 5 ; ti++){
        var t = document.getElementById('crtbtn'+ti);
        var td = document.getElementById('room'+ti);
        var p = document.getElementById('p'+ti);
        var im = document.getElementById('img'+ti);

        if (ti==i){
            td.addEventListener('click',createListener);
            im.style.display = 'none';
            p.innerHTML = '';
            td.style.visibility='visible';
        }else if (ti>i) {
            td.style.display='none';
        }else{
            t.style.display ='none';
            p.innerHTML = rooms[ti];
            td.style.visibility = 'visible';
            td.addEventListener('click',joinListener);
        }
    }

    function createListener(event){
        dialog.dialog( "open" );
    }
    function joinListener(event){
        var temp = parseInt(event.target.id.slice(-1));
        log_go(roomsi[temp],'방에 접속하였습니다.');
        post_goto('/main/api/join',{'ri':roomsi[temp]},false);
    }
    function post_goto(url, parm, target) {
        var f = document.createElement('form');

        var objs, value;
        for (var key in parm) {
            value = parm[key];
            objs = document.createElement('input');
            objs.setAttribute('type', 'hidden');
            objs.setAttribute('name', key);
            objs.setAttribute('value', value);
            f.appendChild(objs);
        }

        if (target)
            f.setAttribute('target', target);

        f.setAttribute('method', 'post');
        f.setAttribute('action', url);
        document.body.appendChild(f);
        f.submit();
    }
    function logout()
    {
        location.replace('/logout');
    }

    var socket;
    function log_go (t_ridx,t_content) {
        var n_json={};
        var now = new Date();
        var mi = now.getMinutes();
        if(mi <10)
            mi = "0" + mi;
        now = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate() + " " + now.getHours() + ":" +mi;
        n_json.ridx = t_ridx;
        n_json.uidx = '<%=s_uidx%>';
        n_json.name = '<%=s_name%>';
        n_json.content = t_content;
        n_json.date = now;
        socket.emit('log_go', n_json);
    }
    $(document).ready(function() {
        socket = io.connect();
    });
</script>
</html>