<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <script>
        var hi = <%=s_name%>';
        alert(hi);
    </script>
</head>
<body>
그사람의 고유 값 : <%=s_uidx%><br/>
그사람의 이메일 : <%=s_email%><br/>
그사람의 이름 : <%=s_name%><br/>
</body>
</html>