<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/avgrund_style.css">
    <link rel="stylesheet" href="/stylesheets/avgrund.css">
    <style type="text/css">
        iframe {
            border-top: #c00 1px dotted;
            border-right: #c00 2px dotted;
            border-left: #c00 2px dotted;
            border-bottom: #c00 4px dotted;
            margin-top: 20px;
            margin-bottom: 30px;

            -moz-border-radius: 12px;
            -webkit-border-radius: 12px;
            border-radius: 12px;

            -moz-box-shadow: 4px 4px 14px #000;
            -webkit-box-shadow: 4px 4px 14px #000;
            box-shadow: 4px 4px 14px #000;

            filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
        }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/jquery.avgrund.js"></script>
    <script>
        var socket = io.connect();
        function check_auth () {
            socket.emit('auth_check', {ridx:'<%=s_ridx%>',uidx:'<%=s_uidx%>'}, function (data) {
                if (data) {//프로젝트 관리자가 계획or진행을 선택한다.
                    $(function() {
                        $('#show').avgrund({
                            height: 100,
                            width: 200,
                            holderClass: 'custom',
                            showClose: true,
                            showCloseText: 'Close',
                            enableStackAnimation: true,
                            onBlurContainer: '.container',
                            //프로젝트계획 혹은 진행
                            template: '<br/><div>' +
                            '<a href="#" class="twitter" onclick="pla()">Plan</a>' +
                            '<a href="#" class="dribble" onclick="pro()">Progress</a>' +
                            '</div>'
                        });
                    });
                } else { //걍 팀원은 진행만 볼 수 있다.

                }
            });
        }
        //고쳐~~~~~~아래링크~~~~~~~~localhost~~~~~~~~~
        function pla(){window.open( 'http://210.118.74.113:3000/schedule/plan/s?uidx=<%=s_uidx%>&ridx=<%=s_ridx%>','_blank', 'height=' + screen.height + ',width=' + screen.width + 'fullscreen=yes');}
        function pro(){window.open( 'http://210.118.74.113:3000/schedule/progress/s?uidx=<%=s_uidx%>&ridx=<%=s_ridx%>','_blank', 'height=' + screen.height + ',width=' + screen.width + 'fullscreen=yes');}
    </script>
</head>
<body>
<div>
    <input type="button" value="화상 회의" id="video_C"></div>
<div>
    <input type="button" value="팀원 초대" id="invite_friend"></div>
<div>
    <input type="button" value="일정 관리" id="show" onclick="check_auth()"></div>
<iframe name="fexp" src="http://localhost:3000/file" scrolling="no" frameborder="0" height="800" width="70%"></iframe>
</body>
</html>